body {
  /*font: 14px "Century Gothic", Futura, sans-serif;*/
  font-family: 'Roboto', sans-serif;
  margin: 0px;
}


#webcam-div{
  padding-top: 15px;
}

#webcam-div div{
  width: 350px;
  height: 260px;

  margin: 0 auto;

}

#webcam-div div div{
  width:100%;
  height:100%;
  display: flex;
  align-items: center;
  justify-content: center;

}

#play_button_div{
  margin: 15px;
}

#main_paper_div{
  margin-left: 25px;
  margin-right: 25px;
}

#first_row{
  min-height: 400px;
}

#human_game_paper{
  width: 300px;
}

#human_game_paper img{
  display:block;
    margin:auto;
}

#human_game_paper{
  text-align: center;
}
#human_gesture_name{
  padding-bottom: 5px;
}

.image_result{
  width: 224px;
  height: 224px;
}

.you_win{
  background-color: #CDFECC;
}

.header_loose{
  background-color: #FF8A8A;
}

#score_card{
  max-height: 120px;
  max-width: 250px;
  display:block;
    margin:auto;

}

#score_card_text {
  padding: 5px !important;
  margin: 0px;
  text-align: center;
  vertical-align:middle;
}

#score_card_text h2{
  padding: 5px;
  margin: 0px;
  font-size: 40px;
}

#score_card_text span{
  margin-left: 20px;
  margin-bottom: 50px;
}


