body {
  /*font: 14px "Century Gothic", Futura, sans-serif;*/
  font-family: 'Roboto', sans-serif;
  margin: 0px;
}


#webcam-div{
  padding-top: 15px;
}

#webcam-div div{
  width: 350px;
  height: 260px;

  margin: 0 auto;

}

#webcam-div div div{
  width:100%;
  height:100%;
  display: flex;
  align-items: center;
  justify-content: center;

}

#main_paper_div{
  margin-left: 25px;
  margin-right: 25px;
}

#first_row{
  min-height: 400px;
}

#human_game_paper{
  width: 300px;
}

#human_game_paper img{
  display:block;
    margin:auto;
}

#human_game_paper{
  text-align: center;
}
#human_gesture_name{
  padding-bottom: 5px;
}

